// ======================================================
// Layout :: Content
// ======================================================

//giúp khối footer luôn ở bị trí cuối cùng
html,body{
  height: 100%;
}
.wrapper{
  min-height: 100%;
  height: auto;
  margin: 0 auto -150px;
}
.push {
  height: 150px; /* .push must be the same height as .footer */
}
//end

.login-admin{
  height: 100vh;
  background: url("../img/bg-login.png") no-repeat center bottom;
  position: relative;
  .login-wrap{
    .login-block{
      width: 457px;
      padding: 0 15px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      @include mobile{
        width: 100%;
      }
      .logo{
        text-align: center;
        margin-top: 0;
        margin-bottom: 43px;
        img{
          width: 262px;
          height: 112px;
        }
      }
      .styled-input{
        position: relative;
        label{
          color: #2C485B;
          position: absolute;
          top: 21px;
          left: 25px;
          margin-bottom: 0;
          pointer-events: none;
          transition: all 0.3s;
          font-family: 'UTM Avo';
          font-size: 14px;
        }
        input{
          width: 100%;
          height: 57px;
          margin-bottom: 11px;
          background: #DCE4EB;
          padding: 26px 25px 14px;
          border-radius: 3px;
          color: #000;
          border: none;
          //outline-color: $c-bl;
          outline: none;
          font-size: 14px;
          &:focus ~ span{
            width: 100%;
            transition: all 0.3s;
          }
          &:valid ~ label{
            top: 5px;
            transition: all 0.3s;
          }
        }

        span{
          height: 2px;
          width: 0;
          transition: all 0.3s;
          position: absolute;
          left: 0;
          bottom: 11px;
          background: $c-bl;
        }
      }
      .noti-status-login{
        color: #d93025;

      }
      .btn-login{
        width: 100%;
        border: none;
        border-radius: 3px;
        background: $c-bl;
        margin-top: 11px;
        margin-bottom: 22px;
        color: $c-wh;
        height: 57px;
        font-family: 'UTM Avo';
        font-size: 14px;
        &:hover{
          background: #08336b;
        }
      }
      .forgot-password{
        text-align: center;
        color: $c-txt;
        display: block;
        font-family: 'UTM Avo';
        font-size: 14px;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}


//end login-admin

//start bread-crumb
.main{
  padding-top: 77px;
}
.breadcrumb-vsd{
  padding: 24px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .bread-morni{
    span{
      font-size: 13px;
      img{
        width: 18px;
        height: 14px;
        vertical-align: text-top;
      }
      .bread-light{
        display: none;
      }
      a:hover{
        color: $c-bl;
      }
    }
    .caret-right{
      padding: 0 14px;
      i{
        color: #3D3D3D;
      }
      &:last-child{
        color: $c-bl;
      }
    }
    .caret-right:last-child{
      i{
        color: $c-bl;
      }
    }
    span:first-child{
      .bread-light{
        display: none;
      }

    }
    span:last-child{
      a{
        color: $c-bl;
      }
      .bread-dark{
        display: none;
      }
      .bread-light{
        display: inline-block;
      }
    }
  }
  .search{
    input{
      border: none;
      border-left: 1px solid #ededed;
      background: transparent;
      padding: 6px 5px 6px 23px;
      outline: none;
      &::-webkit-input-placeholder { /* Edge */
        font-style: italic;
        color: $c-bl;
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-style: italic;
        color: $c-bl;
      }

      &::placeholder {
        font-style: italic;
        color: $c-bl;
      }
    }
    button{
      border: none;
      background: none;
      img{
        width: 15px;
        height: 15px;
      }
    }
  }

}

//end breadcrum-vsd
.sc-data-top{
  margin-bottom: 20px;
}
.title-wrap{
  display: inline-block;
  color: $c-bl;
  font-weight: 700;
  padding: 10px 15px 10px 4px;
  border-bottom: 2px solid $c-bl;
  margin-bottom: 13px;
  span:last-child{
    color: #EA2642;
  }
}
.zone-white{
  background: $c-wh;
  border-radius: 6px;
  padding: 11px 15px;
  border: 1px solid #E8E8E8;
  padding-bottom: 53px;
  height: 100%;
  margin-bottom: 12px;
  .items-handling{
    padding: 11px 25px;
    border-bottom: 1px solid #ccc;

    .name-handling{
      color: #A37400;
      margin-bottom: 10px;
      display: block;
      &:hover{
        text-decoration: underline;
      }
    }
    &.profile-accepted{
      background: #EDF5F8;
      .name-handling{
        color: $c-gr;
      }
    }
    &.profile-rejection{
      background: #EDF5F8;
      .name-handling{
        color: #912020;
      }
    }

    .received-editlast{
      li{
        display: inline-block;
        margin-right: 45px;
        font-size: 12px;
        .vsd-96{
          color: #969696;
          margin-right: 10px;
        }
        .vsd-23{
          color: #232323;
        }
      }
    }
  }
}
.items-job-needprocess{
  padding: 12px 8px 12px;
  border-bottom: 1px solid #ccc;
  &:last-child{
    border-bottom: none;
  }
  .title-job{
    color: #232323;
    margin-bottom: 8px;
    display: block;
    line-height: 17px;
    &:hover{
      text-decoration: underline;
      color: $c-bl;
    }
  }
  .time-job{

    span{
      color: #969696;
      margin-right: 5px;
      font-size: 12px;
    }
  }
}

.taskremind-block{
  display: flex;
  align-items: center;
  .txt-taskremind{
    color: #232323;
    margin-right: 29px;
  }
  .ip-remind{
    width: 417px;
    height: 35px;
    border: 1px solid #E8E8E8;
    margin-right: 13px;
    padding-left: 14px;
    padding-right: 14px;
    &::-webkit-input-placeholder {
      font-style: italic;
      color: #969696;
    }
    &:-ms-input-placeholder {
      font-style: italic;
      color: #969696;
    }
    &::placeholder {
      font-style: italic;
      color: #969696;
    }
  }
  .btn-add{
    border-radius: 3px;
    color: $c-wh;
    background: $c-bl;
    padding: 0 43px;
    height: 35px;
    border: none;
    text-transform: uppercase;
    &:hover{
      background: #08336b;
    }
  }
}

.job-today{
  .title-job-today{
    color: $c-bl;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px 0 13px;
    span:last-child{
      color: #EA2642;
    }
  }
  .list-job-today{
    .items-job-block{
      .items-job-needprocess{
        &:last-child{
          border-bottom: 1px solid #ccc;
        }
      }
      &:last-child .items-job-needprocess{
        border-bottom: none;
      }
      //&:nth-child(-n +1) .items-job-needprocess{
      //  border-bottom: none;
      //}
    }

  }
}