// ======================================================
// Layout :: Content
// ======================================================

//giúp khối footer luôn ở bị trí cuối cùng
html,body{
  height: 100%;
}
.wrapper{
  min-height: 100%;
  height: auto;
  margin: 0 auto -150px;
}
.push {
  height: 150px; /* .push must be the same height as .footer */
}
//end

.login-admin{
  height: 100vh;
  background: url("../img/bg-login.png") no-repeat center bottom;
  position: relative;
  .login-wrap{
    .login-block{
      width: 457px;
      padding: 0 15px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      @include mobile{
        width: 100%;
      }
      .logo{
        text-align: center;
        margin-top: 0;
        margin-bottom: 43px;
        img{
          width: 262px;
          height: 112px;
        }
      }
      .styled-input{
        position: relative;
        label{
          color: #2C485B;
          position: absolute;
          top: 21px;
          left: 25px;
          margin-bottom: 0;
          pointer-events: none;
          transition: all 0.3s;
          font-size: 14px;
        }
        input{
          width: 100%;
          height: 57px;
          margin-bottom: 11px;
          background: #DCE4EB;
          padding: 31px 25px 14px;
          border-radius: 3px;
          color: #000;
          border: none;
          //outline-color: $c-bl;
          outline: none;
          font-size: 14px;
          &:focus ~ span{
            width: 100%;
            transition: all 0.3s;
          }
          &:focus ~ label{
            top: 11px;
            transition: all 0.3s;
            font-size: 12px;
            color: #0b4d9f;
          }
          &:valid ~ label{
            top: 11px;
            transition: all 0.3s;
            font-size: 12px;
            color: #0b4d9f;
          }
        }

        span{
          height: 2px;
          width: 0;
          transition: all 0.3s;
          position: absolute;
          left: 0;
          bottom: 11px;
          background: $c-bl;
        }
      }
      .noti-status-login{
        color: #d93025;

      }
      .btn-login{
        width: 100%;
        border: none;
        border-radius: 3px;
        background: $c-bl;
        margin-top: 11px;
        margin-bottom: 22px;
        color: $c-wh;
        height: 57px;
        font-size: 14px;
        &:hover{
          background: #08336b;
        }
      }
      .forgot-password{
        text-align: center;
        color: $c-txt;
        display: block;
        font-size: 14px;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}


//end login-admin

//start bread-crumb
.main{
  padding-top: 77px;
}
.breadcrumb-vsd{
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .bread-morni{
    span{
      font-size: 13px;
      img{
        width: 18px;
        height: 14px;
        vertical-align: text-top;
        margin-right: 16px;
      }
      .bread-light{
        display: none;
      }
      a:hover{
        color: $c-bl;
        text-decoration: underline;
      }
    }
    .caret-right{
      padding: 0 14px;
      i{
        color: #3D3D3D;
      }
      &:last-child{
        color: $c-bl;
      }
    }
    .caret-right:last-child{
      i{
        color: $c-bl;
      }
    }
    span:first-child{
      .bread-light{
        display: none;
      }

    }
    span:last-child{
      a{
        color: $c-bl;
      }
      .bread-dark{
        display: none;
      }
      .bread-light{
        display: inline-block;
      }
    }
  }
  .search{
    position: relative;
    input{
      border: none;
      border-left: 1px solid #a1b5ce;
      background: transparent;
      padding: 6px 29px 6px 23px;
      outline: none;
      width: 211px;
      &::-webkit-input-placeholder { /* Edge */
        font-style: italic;
        color: $c-bl;
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-style: italic;
        color: $c-bl;
      }

      &::placeholder {
        font-style: italic;
        color: $c-bl;
      }
      &:focus{
        background: #e7eff5;
      }
    }
    button{
      border: none;
      background: none;
      position: absolute;
      top: 4px;
      right: 2px;
      img{
        width: 15px;
        height: 15px;
      }
    }
  }

}

//end breadcrum-vsd
.sc-data-top{
  margin-bottom: 20px;
}
.title-wrap{
  display: inline-block;
  color: $c-bl;
  font-weight: 700;
  padding: 10px 15px 7px 4px;
  border-bottom: 2px solid $c-bl;
  margin-bottom: 13px;
  span:nth-child(2){
    color: #EA2642;
  }
}
.zone-white{
  background: $c-wh;
  border-radius: 6px;
  padding: 11px 15px;
  border: 1px solid #E8E8E8;
  padding-bottom: 53px;
  height: 100%;
  margin-bottom: 12px;
  .items-handling{
    padding: 11px 25px;
    border-bottom: 1px solid #dedede;

    .name-handling{
      color: #d59800;
      margin-bottom: 10px;
      display: block;
      &:hover{
        text-decoration: underline;
      }
    }
    &.profile-accepted{
      background: #EDF5F8;
      .name-handling{
        color: #11a800;
      }
    }
    &.profile-rejection{
      background: #EDF5F8;
      .name-handling{
        color: #da1818;
      }
    }

    .received-editlast{
      li{
        display: inline-block;
        margin-right: 45px;
        font-size: 12px;
        .vsd-96{
          color: #969696;
          margin-right: 10px;
        }
        .vsd-23{
          color: #232323;
        }
      }
    }
  }
}
.items-job-needprocess{
  padding: 12px 8px 12px;

  &:nth-child(n+3){
    border-top: 1px solid #ccc;
  }
  .title-job{
    color: #232323;
    margin-bottom: 8px;
    display: block;
    line-height: 17px;
    &:hover{
      text-decoration: underline;
      color: $c-bl;
    }
  }
  .time-job{

    span{
      color: #969696;
      margin-right: 5px;
      font-size: 12px;
    }
  }
}

.taskremind-block{
  display: flex;
  align-items: center;
  .txt-taskremind{
    color: #232323;
    margin-right: 29px;
    &.space-50{
      margin-left: 50px;
    }

  }
  .ip-remind{
    width: 350px;
    height: 35px;
    border: 1px solid #E8E8E8;
    margin-right: 13px;
    padding-left: 14px;
    padding-right: 14px;
    &::-webkit-input-placeholder {
      font-style: italic;
      color: #969696;
    }
    &:-ms-input-placeholder {
      font-style: italic;
      color: #969696;
    }
    &::placeholder {
      font-style: italic;
      color: #969696;
    }
  }
  .btn-add{
    margin-right: 50px;
  }
  .datetimepicker-vsd{
    width: 171px;
    height: 35px;
    border: 1px solid #E8E8E8;
    margin-right: 13px;
    padding-left: 14px;
    padding-right: 14px;
    background: #fff url(../img/icon-cacular.svg) no-repeat;
    background-position: center right 12px;
    cursor: pointer;
  }
}

.job-today{
  .title-job-today{
    color: $c-bl;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px 0 13px;
    span:last-child{
      color: #EA2642;
    }
  }
  .list-job-today{
    .items-job-block{
      &:nth-child(n+3) .items-job-needprocess{
        border-top: 1px solid #ccc;
      }
    }
  }
}

//css vùng trường tìm kiếm
.search-field-block{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .search-detail{
    &:after{
      content: '';
      display: table;
      clear: both;
    }
    .items-field{
      width: 195px;
      margin-right: 10px;
      margin-bottom: 17px;
      float: left;
      .label-field{
        color: #3D3D3D;
        margin-bottom: 8px;
      }
      input{
        width: 100%;
        border: 1px solid #cecece;
        height: 35px;
        padding-left: 16px;
        padding-right: 16px;
        color: #262626;
        border-radius: 3px;
      }
      select{
        width: 100%;
        border: 1px solid #cecece;
        height: 35px;
        padding-left: 16px;
        padding-right: 16px;
        color: #262626;
        border-radius: 3px;
        cursor: pointer;
      }
    }
    .zone-search{
      margin-bottom: 17px;
      float: left;
      margin-top: 23px;
      .btn-search-list{
        background: $c-bl;
        color: $c-wh;
        padding: 0 42px;
        height: 35px;
        border: none;
        border-radius: 3px;
        transition: all 0.3s;
        &:hover{
          background: #306db9;
          transition: all 0.3s;
        }
      }
    }
  }
  .add-items-list{
    width: 43px;
    height: 35px;
    border-radius: 3px;
    background: $c-lb;
    border: none;
    margin-bottom: 17px;
    transition: all 0.3s;
    position: relative;
    padding: 0;
    >a{
      display: block;
      width: 100%;
      height: 100%;
      line-height: 31px;
    }
    &:hover{
      background: #a3d0f7;
      transition: all 0.3s;
    }
    &:hover:before{
      display: block;
    }
    &:hover:after{
      display: block;
    }
    &:before{
      content: 'Thêm mới';
      color: $c-wh;
      background: $c-bl;
      padding: 5px 10px;
      border-radius: 3px;
      position: absolute;
      bottom: 41px;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      display: none;
      pointer-events: none;
    }
    &:after{
      content: '';
      position: absolute;
      bottom: 36px;
      left: 50%;
      transform: translateX(-50%);
      border-right: 5px solid transparent;
      border-top: 5px solid #164989;
      border-left: 5px solid transparent;
      display: none;

    }
    img{
      width: 16px;
      height: 16px;
      text-align: center;
    }
  }
  .btn-render{
    height: 35px;
    border-radius: 3px;
    background: $c-lb;
    border: none;
    margin-bottom: 18px;
    transition: all 0.3s;
    padding: 0 40px;
    &:hover{
      background: #a3d0f7;
      transition: all 0.3s;
    }
    img{
      width: 13px;
      height: 10px;
      margin-right: 9px;
    }
    span{
      color: $c-bl;
    }
  }
}
input[name="daterange"]{
  background: #fff url(../img/icon-cacular.svg) no-repeat;
  background-position: center right 12px;
  cursor: pointer;
}

//css table

.table-data-wrap{
  .tbl-data-block{
    .tbltype-1{
      width: 100%;
      margin-bottom: 19px;
      thead{
        tr{
          background: $c-lb;
          th{
            padding: 16px 12px 16px 12px;
            border: 1px solid #cecece;
            color: $c-bl;
          }
        }
      }
      tbody{
        tr{
          td{
            padding: 18px 12px 18px 12px;
            border: 1px solid #cecece;
          }
        }
      }
    }
    .tbltype-2{
      width: 100%;
      margin-bottom: 19px;
      thead{
        tr{
          th{
            padding: 20px 9px;
            color: $c-bl;
            background: $c-lb;
            border: 1px solid #cecece;
            &.th-private{
              padding: 9px 17px 8px;
            }
          }
          .th-bl{
            padding: 5px 13px 4px;
            font-size: 11px;
          }
          .th-yl{
            padding: 5px 13px 4px;
            font-size: 11px;
          }
        }
      }
      tbody{
        tr{
          td{
            padding: 19px 9px 18px;
            border: 1px solid #cecece;
            &.td-bl{
              background: #E3FFFF;
            }
            &.td-yl{
              background: #FCFFE5;
            }
          }

        }
      }
    }
    .report-name{
      color: $c-bl;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
    .link-main{
      color: $c-bl;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }

  }
}

//end css table

.form-detail{
  margin-bottom: 20px;
}
.field-box{
  margin: 0 -3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //height: 100%;
  &:after{
    content: '';
    display: table;
    clear: both;
  }
  .title-left{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 3px;
    width: 30%;
    float: left;
    color: #606060;
  }
  .txt-data-field{
    padding: 10px 3px 10px 0;
    width: 70%;
    float: left;
    border-bottom: 1px solid #cecece;
    color: #191919;
  }
}

.heading-action{
  padding: 11px 0;
  color: $c-bl;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 13px;
}
.btns-decided{
  button{
    width: 104px;
    height: 30px;
    border: none;
  }
  .btn-refuse{
    background: #FFDCDC;
    color: #912020;
    transition: all 0.3s;
    position: relative;
    &:hover{
      background: #912020;
      color: $c-wh;
      transition: all 0.3s;
    }
    img{
      width: 13px;
      height: 13px;
      vertical-align: text-top;
      margin-left: 9px;
    }
    .message-after{
      display: none;
    }
    &:hover .message-after{
      display: inline-block;
    }
    &:hover .message-before{
      display: none;
    }
    .reason-refuse{
      color: #3D3D3D;
      background: rgb(255, 220, 220);
      padding: 5px 10px;
      border-radius: 3px;
      position: absolute;
      bottom: 35px;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      display: none;
      pointer-events: none;
      box-shadow: -1px 10px 15px 0px rgba(13, 0, 0, 0.2);
      &:after{
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-right: 5px solid transparent;
        border-top: 5px solid rgb(255, 220, 220);
        border-left: 5px solid transparent;
      }
    }
    &:hover .reason-refuse{
      display: block;
    }

  }
  .btn-allow{
    background: #E0FFDC;
    color: #12841A;
    transition: all 0.3s;
    &:hover{
      background: #12841A;
      color: $c-wh;
      transition: all 0.3s;
    }
  }
}
.form-handing-action{
  padding: 12px 0;
  border-bottom: 1px solid $c-bl;
  &:last-child{
    border-bottom: none;
  }
  .box-decided{
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .name-file{
      padding: 7px 21px;
      height: 30px;
      color: #3D3D3D;
      background: #EAEAEA;
      max-width: 275px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover{
        background: $c-lb;
        color: $c-bl;
      }
    }
    .info-different{
      display: flex;
      align-items: center;
      .label-list{
        color: #000000;
        width: 165px;
      }
    }
    .note{
      width: 100%;
      height: 70px;
      border: 1px solid #cecece;
      border-radius: 3px;
      resize: none;
      padding: 8px 10px;
    }
  }
}
//.custom-control {
//  position: relative;
//  display: inline-block;
//  min-height: 1.5rem;
//  padding-left: 0;
//}
//.custom-control-label {
//  position: relative;
//  margin-bottom: 0;
//  vertical-align: top;
//  padding: 5px 5px 5px 25px;
//  background: transparent;
//}
//.custom-control-label.active{
//  background: red;
//}
//.custom-control-label::before {
//  position: absolute;
//  top: .25rem;
//  left: 0;
//  display: block;
//  width: 1rem;
//  height: 1rem;
//  pointer-events: none;
//  content: "";
//  background-color: #fff;
//  border: #adb5bd solid 1px;
//}
//.custom-control-label::after {
//  position: absolute;
//  top: .25rem;
//  left: 0;
//  display: block;
//  width: 1rem;
//  height: 1rem;
//  content: "";
//  background: no-repeat 50%/50% 50%;
//}