// ======================================================
// Layout :: Grid
// ======================================================

.container{
  max-width: 1214px;
  width: 100%;
  margin: 0 auto;
  padding: 0 6px;
}
.row-vsd{
  margin: 0 -6px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.row-vsd:after{
  content: '';
  display: table;
  clear: both;
}
.row-10{
  margin: 0 -10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.row-10:after{
  content: '';
  display: table;
  clear: both;
}
.col-pc-6{
  padding: 0 10px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  margin-bottom: 7px;
}
.row-form{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.row-foot{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.col-vsd-6{
  padding: 0 6px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  margin-bottom: 12px;
}
.col-vsd-12{
  padding: 0 6px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}
.col-vsd-20{
  padding: 0 6px;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
  position: relative;
}
.col-vsd-80{
  padding: 0 6px;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%;
  position: relative;
}
.col-vsd-60{
  padding: 0 6px;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
  position: relative;
}
.col-vsd-35{
  padding: 0 6px;
  -ms-flex: 0 0 35%;
  flex: 0 0 35%;
  max-width: 35%;
  position: relative;
}
.col-vsd-65{
  padding: 0 6px;
  -ms-flex: 0 0 65%;
  flex: 0 0 65%;
  max-width: 65%;
  position: relative;
}
.title-input{
  //padding: 0 6px;
  //-ms-flex: 0 0 35%;
  //flex: 0 0 35%;
  //max-width: 35%;
  //position: relative;
  max-width: 175px;
  width: 100%;
  padding-right: 12px;
}
.input-enter{
  //padding: 0 6px;
  //-ms-flex: 0 0 65%;
  //flex: 0 0 65%;
  //max-width: 65%;
  //position: relative;
  width: calc(100% - 175px);
}