// ======================================================
// Layout :: Header
// ======================================================

.header{
  background: $c-bl;
  .header-top{
    .logo{
      h1{
        margin: 12px 0 11px;
      }
    }
    .navigation-vsd{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .menu{
        display: inline-block;
        li{
          float: left;
          position: relative;
          transition: all 0.3s;
          &:after{
            content: '';
            position: absolute;
            bottom: 17px;
            left: 50%;
            transform: translateX(-50%) scaleX(0);
            transition: all 0.3s;
            width: 28px;
            height: 4px;
            background: #fff;
            border-radius: 30px;
          }
          &:hover:after{
            transform: translateX(-50%) scaleX(1);
            transition: all 0.3s;
          }
          &:hover{
            background: #195493;
            transition: all 0.3s;
          }
          a{
            display: block;
            padding: 31px 13px 30px;
            color: $c-wh;
          }
        }
      }
      .account-vsd{
        display: inline-block;
        margin-left: 9px;

        .box-acc{
          border-radius: 30px;
          background: #205A99;
          display: flex;
          align-items: center;
          padding: 6px 13px 6px 7px;
          img{
            width: 24px;
            height: 24px;
            object-fit: contain;
            margin-right: 10px;
          }
          span{
            margin-right: 7px;
            color: $c-wh;
          }
          i{
            color: $c-wh;
          }

        }

      }
    }
  }
}