// ======================================================
// Components :: Button
// ======================================================

.btn-blue,.btn-light-blue,.btn-red{
  width: 147px;
  height: 33px;
  background: $c-bl;
  color: $c-wh;
  margin-left: 7px;
  border: none;
  border-radius: 3px;
  transition: all 0.3s;
  img{
    width: 16px;
    margin-right: 4px;
    vertical-align: middle;
  }
}
.btn-blue{
  transition: all 0.3s;
  &:hover{
    background: #306db9;
    transition: all 0.3s;
  }
}
.btn-light-blue{
  background: #D2EAFF;
  color: $c-bl;
  transition: all 0.3s;
  &:hover{
    background: #a3d0f7;
    transition: all 0.3s;
  }
}
.btn-red{
  background: #912020;
  transition: all 0.3s;
  &:hover{
    background: #be2d2d;
    transition: all 0.3s;
  }
}
.btn-general{
  position: relative;
}

//css input
.btn-general input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  margin-top: -5px;
}

.btn-general input[type="checkbox"]:checked:before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: block;
  width: 8px;
  height: 8px;
  background: #164989;
}

.btn-general input[type="checkbox"]:checked:after {
  border-color: #4F80FF;
  //animation: scalebr 1s forwards;
}
.btn-general input[type="checkbox"]:after{
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid $c-bl;
  -webkit-transition: 240ms;
  transition: 240ms;
  background: #fff;

  //position: relative;
  //z-index: 999;
}
.btn-general:after{
  //content: '';
  width: 14px;
  height: 14px;
  background: #5192e4;
  position: absolute;
  top: 7px;
  left: 11px;

}

//.btn-general:active {
//  animation: btnactive 1s forwards;
//
//}
//
//
//@keyframes scalebr {
//  0% {
//    border: 1px solid #4F80FF;
//  }
//  50%{
//    border: 5px solid #4F80FF;
//  }
//  100% {
//    border: 1px solid #4F80FF;
//  }
//}