// ======================================================
// Base :: Global
// ======================================================

*,*:before,*:after{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background: #F8F9FA;
  font-size: 13px;
  line-height: 16px;
  font-family: "Arial";
}
input:focus,textarea:focus{
  //outline: none;
  //box-shadow: 0 0 4px 1px #164989;
}
.clearfix-9{
  height: 9px;
  clear: both;
}
.formgroup-vsd{
  margin-bottom: 9px;
}
.title-info{
  display: inline-block;
  font-size: 14px;
  border-bottom: 2px solid $c-bl;
  font-weight: 700;
  padding: 10px 3px 7px;
  color: $c-bl;
  margin-bottom: 20px;
  text-transform: uppercase;
  &.title-small{
    display: block;
    text-transform: none;
    border-bottom: 1px solid $c-bl;
    margin-bottom: 13px;
  }
}
.title-input{
  color: #606060;
  span{
    color: #ED1111;
  }
}
.input-enter{
  input{
    width: 100%;
    border: 1px solid #cecece;
    height: 35px;
    padding-left: 16px;
    padding-right: 16px;
    color: #262626;
    border-radius: 3px;
  }
  input[disabled="disabled"]{
    background: #EDEDED;
    color: #A0A0A0;
  }
  .datepicker-vsd{
    background: #fff url(../img/icon-cacular.svg) no-repeat;
    background-position: center right 12px;
    cursor: pointer;
  }
  .items-select{
    width: 100%;
    border: 1px solid #cecece;
    height: 35px;
    padding-left: 16px;
    padding-right: 16px;
    color: #262626;
    border-radius: 3px;
    cursor: pointer;
  }
  textarea{
    width: 100%;
    border: 1px solid #cecece;
    height: 64px;
    padding: 8px 16px;
    color: #262626;
    border-radius: 3px;
    resize: none;
  }
}
.zone-white-x{
  padding: 10px 21px;
  background: $c-wh;
  border-radius: 6px;
  border: 1px solid #E8E8E8;
}
.utiliti-handling{
  padding: 15px 0 20px;
  text-align: right;
  &:after{
    content: '';
    display: table;
    clear: both;
  }
}
.alert-required{
  padding-top: 5px;
  display: block;
  svg{
    vertical-align: text-bottom;
  }
  span{
    color: #ED1111;
  }
}
label.error {
  color: #ED1111;
  padding-top: 5px;
  padding-left: 24px;
  background: url(../img/icon-checkvalidate.svg) no-repeat top 4px left;
  background-size: 16px;
  margin-bottom: 0;
}
input.error{
  border: 1px solid #ff8f8f;
}
.btn-add{
  border-radius: 3px;
  color: $c-wh;
  background: $c-bl;
  padding: 0 43px;
  height: 35px;
  border: none;
  text-transform: uppercase;
  &:hover{
    background: #08336b;
  }
}