// ======================================================
// Base :: Global
// ======================================================

*,*:before,*:after{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background: #F8F9FA;
  font-size: 14px;
  line-height: 16px;
  font-family: "Arial";
}